# Default values for optimize-live.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

component:
  image:
    controller:
      repository: registry.stormforge.io/optimize-live/controller
      pullPolicy: IfNotPresent
      tag: 0.0.17
    tsdb:
      repository: registry.stormforge.io/optimize-live/tsdb
      pullPolicy: IfNotPresent
      tag: 0.0.11
    applier:
      repository: registry.stormforge.io/optimize-live/applier
      pullPolicy: IfNotPresent
      tag: 0.0.4
    recommender:
      repository: registry.stormforge.io/optimize-live/recommender
      pullPolicy: IfNotPresent
      tag: 0.2.7
    grafana:
      repository: grafana/grafana-oss
      pullPolicy: IfNotPresent
      tag: 8.5.3

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
defaultNamespace: stormforge-system

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

rbac:
  clusterRole:
    create: true
    name: ""
  clusterRoleBinding:
    create: true
    name: ""

imageCredentials:
  registry: registry.stormforge.io
  username: username
  password: password

stormforge:
  address: https://api.stormforge.io/

authorization:
  issuer: https://api.stormforge.io/
  clientID: id
  clientSecret: secret

# metricsURL should be used to set the URL of the prometheus server
# that should be scraped to fetch metrics.
# When using DataDog or another external metrics provider, this field
# should be left at the default ""
metricsURL: ""

podAnnotations: {}

podSecurityContext: {}

securityContext:
  runAsNonRoot: true

# extraEnvVars can be used to set things like:
# HTTP_PROXY/HTTPS_PROXY/NO_PROXY
# DD_API_KEY/DD_APP_KEY/DD_SITE
# This can also be set through the stormforge cli via
# `stormforge config set controller.<environment>.env.HTTP_PROXY http://my.proxy.example`
extraEnvVars: []

resources: {}
  # limits:
  #   cpu: 500m
  #   memory: 128Mi
  # requests:
  #   cpu: 10m
  #   memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}

livenessProbe:
  httpGet:
    path: /healthz
    port: 8081
  initialDelaySeconds: 15
  periodSeconds: 20

readinessProbe:
  httpGet:
    path: /readyz
    port: 8081
  initialDelaySeconds: 5
  periodSeconds: 10

# Override the default storage class for pv creation
# It is strongly encouraged to use `xfs` as the backing filesystem
# to avoid inode exhaustion.
storageClass: ""

 # pvcSize dictates how large of a PVC should be requested.
 # This defaults to 10G
pvcSize: ""

debug: false

grafana:
  resources: {}
    # limits:
    #   cpu: 500m
    #   memory: 128Mi
    # requests:
    #   cpu: 10m
    #   memory: 64Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  livenessProbe:
    httpGet:
      path: /api/health
      port: 3000

  readinessProbe:
    httpGet:
      path: /api/health
      port: 3000
